# Logs
frontend/logs
backend/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (frontend)
frontend/node_modules

# Build output (frontend)
frontend/dist
frontend/dist-ssr

# Local environment files
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iws
*.iml
*.ipr

# Backend specific ignores
backend/HELP.md

# Maven target directory
backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite)
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!**/src/main/**/build/
!**/src/test/**/build/
